.overlay {
  background: rgba(0, 0, 0, 0.4) !important;
}

.modal {
  position: absolute;
  display: flex;
  width: 80%;
  height: 75%;
  background: var(--bg-white);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #333;
}

.config {
  flex-basis: 35%;
  padding: 20px 0 20px 20px;
  border-right: 1px solid var(--border-color, #ddd);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.header_title  {
  font-size: 20px;
  margin: 10px 0 10px 0;
}

.details .label {
  font-weight: bold;
}

.name_input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
  font-family: inherit;
}

.name_input::placeholder {
  color: #6b6b6b;
}

.name_input:focus {
  outline: none;
  box-shadow: var(--input-shadow);
}

.error_name_input{
  border-color:var(--error-color) ;
  box-shadow: var(--input-error-shadow) !important;
}

.description,.error_message {
  font-size: 14px;
  color: var(--text-secondary, #666);
  line-height: 1.3;
}

.error_message{
  color: var(--error-color);
}

.visibility {
  margin-top: 10px;
}

.visibility label {
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin: 10px 0;
  cursor: pointer;
  user-select: none;
}

.visibility label span.workName {
  font-weight: bold;
  color: #000;
}

.visibility label span {
  color: var(--text-color-grey);
}

.visbText {
  display: flex;
  flex-wrap: wrap;
}

.buttonContainer {
  padding-right: 20px;
}

.createButton {
  width: 100%;
  padding: 10px;
  background: #eaeaea;
  font-size: 16px;
  font-weight: bold;
  color: #898989;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: all var(--transition-time);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createButton:hover {
  background-color: var(--link-color);
  color: white;
}

.preview {
  flex: 1;
  background: var(--bg-white);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.prevHeader {
  display: flex;
  justify-content: end;
}

.prevName {
  display: flex;
  align-items: center;
  gap: 7px;
}

.prevHeader>div {
  display: flex;
  gap: 18px;
  color: #acacac;
  font-size: 20px;
}

.previewHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.previewContent {
  margin-top: 20px;
}

.headerIcon {
  cursor: pointer;
}

/* preview Container */
.chatPreviewContainer {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

/* Preview Header */
.previewHeader {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 8px;
}

.lockIcon {
  font-size: 16px;
  margin-right: 5px;
  display: flex;
}

/* Tabs */
.previewTabs {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.tab {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  cursor: pointer;
  color: #555;
}

.activeTab {
  border-bottom: 2px solid var(--primary-color);
  font-weight: bold;
  color: var(--primary-color);
}

.icon {
  font-size: 20px;
}

/* Chat Messages */
.chatPreview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  overflow: hidden;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

/* Input Field */
.inputContainer {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 5px 10px;
  gap: 10px;
}

.inputField {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: transparent;
}

.plusButton,
.sendButton {
  background: transparent;
  border: none;
  font-size: 16px;
  color: #ccc;
}