.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10000;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 10px;
  flex-shrink: 0;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--border-color) ;
  box-shadow: var(--shadow);
}

.modal_body{
  flex: 1;
  width: 100%;
  overflow-y: auto;
}