.active {
    background-color: var(--active-color);
    color: var(--secondary-color);
}

.icon {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.left_side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    flex-shrink: 0;
}

.dms_item {
    display: flex;
        gap: 2px;
        align-items: center;
        padding: 2px 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        color: var(--text-white);
}

.dms_item:hover {
    background-color: var(--sidebar-hover);
}

.user_name {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.user_name_hint {
    margin-left: 6px;
    opacity: 0.7;
}

.right_side {
    display: none;
    align-items: center;
    font-size: 25px;
    opacity: 0.7;
    flex-shrink: 0;
}

.dms_item:hover .right_side{
    display: flex;
}

/*  */

.active {
    background-color: var(--sidebar-hover);
    color: #ffffff;
}