
.icon {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.left_side {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.photo_wrapper {
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    border-radius: var(--border-radius-small);
    overflow: hidden;
}

.dms_item {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: var(--text-white);
    height: 35px;
}

.dms_item:hover:not(.active) {
    background-color: var(--sidebar-hover);
}

.user_name {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.user_name_hint {
    margin-left: 6px;
    opacity: 0.7;
}

.right_side {
    display: none;
    align-items: center;
    font-size: 25px;
    opacity: 0.7;
    flex-shrink: 0;
}

.dms_item:hover .right_side {
    display: flex;
}

/*  */

.active {
    background-color: var(--active-color);
    color: var(--primary-color);
}