.modal {
  width: 450px;
  height: 90%;
  background: white;
  border-radius: 8px;
}


.uploadContainer {
  width: 400px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 5px dashed var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

/* .uploadBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 10px;
} */

.uploadPlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: #1d1c1d;
  font-size: 18px;
  font-weight: 900;

  .placeholderPhoto {
    font-size: 150px;
    color: var(--border-color);
  }
}

.dragging {
  border: 2px dashed #4a90e2;
  background-color: #f0f8ff;
}

.fileInput {
  display: none;
}

.browseButton {
  background: #007a5a;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;

  p,
  .time {
    font-size: 13px;
    font-weight: 400;
    color: rgba(29, 28, 29, 0.7);
  }
}

.profilePreview {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  overflow: hidden;

  .name {
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 7px;
  }
}

/* .profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
} */
.image {
  background-color: #000;
  border-radius: var(--border-radius);
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.profileIcon {
  font-size: 70px;
  color: var(--active-color);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  border-top: 1px solid var(--border-color);
  padding: 20px 0;
}

.cancelButton,
.browseButton {
  padding: 10px;
  background-color: transparent;
  color: #1d1c1d;
  border: 1px solid var(--border-color);
  transition: 0.3s;

  &:hover {
    background-color: #f8f8f8;
  }
}

.saveButton {
  width: 55px;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: #007a5a;
  color: white;
  margin-right: 20px;
  transition: 0.3s;

  &:hover {
    background-color: #006e50;
  }
}