.authBtn {
  display: flex;
    height: 45px;
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    cursor: pointer;
    transition: background var(--transition-time) ease;
    justify-content: center;
    align-items: center;
}

.authBtn:hover {
  background-color: var(--secondary-color);
}

/* Toast Popup */

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
  animation: slide-in 1s ease-out, fade-out 2s 4s forwards;
}

@keyframes slide-in {
  0% {
    right: -300px;
  }

  100% {
    right: 20px;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}