/* @import "../../styles/variables.css"; */
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0;
  background-color: var(--primary-color);
}

.Navbar__left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 20px;
  padding: 13px 16px;
  max-width: 260px;
}
.Navbar__left > img {
  margin-left: auto;
  margin-right: 30px;
  color: var(--active-color);
}

.Navbar__search {
  /* flex: 0.4; */
  background-color: var(--secondary-color);
  text-align: center;
  display: flex;
  padding: 0 50px;
  color: var(--sidebar-text-color);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar__search > input {
  background-color: transparent;
  border: none;
  min-width: 35vw;
  padding: 7.5px 0;
  text-align: center;
  outline-width: 0;
}
.Navbar__search > input::placeholder {
  color: var(--sidebar-text-color);
}
.Navbar__right {
  /* flex: 0.3; */
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.Navbar__right > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 20px;
}
