.channelHeader {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 5px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
    flex-shrink: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.channel_info {
    display: flex;
    align-items: center;
}

.channel_topic {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    color: var(--text-color-grey);
    cursor: pointer;
    height: 100%;
    padding: 8px;
}


.channel_topic> .infoEdit {
    display: none;
}

.channel_topic:hover .infoEdit {
    display: block;
}

.infoEdit {
    color: var(--link-color);
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.infoEdit:hover {
    text-decoration: underline;
}

.channel_name {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.channel_name,
.userInfo {
    display: flex;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
    gap: 1px;
}

.channel_name {
    padding: 8px;
    cursor: pointer;
}


.channel_name:hover {
    background-color: var(--bg-light-grey);
}


.membersContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 6px;
    transition: background-color var(--transition-time);
    border: 1px solid var(--border-color);
}

.membersContainer:hover {
    background-color: var(--bg-light-grey);
}

.avatars {
    display: flex;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    margin-left: -8px;
    background-color: #fff;
    overflow: hidden;
}


.memberCount {
    font-size: 14px;
    color: #666;
    font-weight: bold;
}

.rightSide {
    display: flex;
    align-items: stretch;
    gap: var(--gap-10);

}

/* menu */
.menu {
    position: relative;
}

.huddle {
    display: flex;
    position: relative;
}

/* Hiddle Button */
.huddleButton {
    display: flex;
    align-items: stretch;
    border: 1px solid #ccc;
    background: white;
    border-radius: 5px;
    cursor: pointer;
}


.icon {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #555;
    padding: 2px 10px;
    border-right: 1px solid var(--border-color);
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.arrow {
    font-size: 16px;
    color: #555;
}

.huddleButton>span:last-child {
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.menuButton {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    transition: all var(--transition-3);
    height: 100%;
}

.menuButton:hover {
    background-color: var(--bg-light-grey);
}

/* Bottom Part */
.bottomPart {
    margin-top: 5px;
    gap: var(--gap-8);
}

/* .bottomPart>div,
.bottomPart>span {
    display: flex;
    align-items: center;
    gap: 3px;
} */

/* .bottomPart>div {
    border-radius: 8px 8px 0 0;
}

.bottomPart>span {
    border-radius: 50%;
} */

/* .bottomPart>div,
.bottomPart>span,
.channel_name,
.userInfo {
    padding: 8px;
    cursor: pointer;
} */

/* .bottomPart>div:hover,
.bottomPart>span:hover,
.channel_name:hover,
.userInfo:hover,
.huddleButton>span:hover {
    background-color: var(--bg-light-grey);
} */

.activeTab {
    border-bottom: 2px solid var(--primary-color);
}

.tab_text {
    font-size: 14px;
    font-weight: bold;
}

/* ========= */
.tabs {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tabButton {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 13px;
    color: #666;
    font-weight: 600;
    transition: color 0.3s;
}

.tabButton:hover {
    color: #1d1c1d;
}

.active {
    color: #1d1c1d;
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--link-color);
}

.plusButton {
    background: transparent;
    padding: 5px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #666;
    transition: transform 0.3s ease, color 0.3s, background-color 0.3s;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.plusButton:hover {
    color: black;
    background-color: var(--gray-light);
}