.add_button {
  display: flex;
  gap: var(--gap-8);
  align-items: center;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: var(--text-white);
  height: 35px;
}

.add_button:hover {
  background-color: var(--sidebar-hover);
}

.add_button .icon {
  display: flex;
  padding: 3px;
  border-radius: 3px;
  background-color: var(--sidebar-hover);
}

.add_button_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}