.modal {
  background: var(--bg-white);
  padding: 10px 0;
  border-radius: 8px;
  color: var(--text-color-black);
  position: absolute;
  width: 300px;
  z-index: 10000;
  border: 1px solid #ddd;
  box-shadow: var(--shadow);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.item {
  padding: 5px 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.2s;
  width: 100%;
}

.item:hover {
  background-color: var(--link-color);
  color: var(--bg-white);
}

.arrow {
  font-size: 16px;
  color: var(--active-color);
}

.hr {
  margin: 10px 0;
}