.active {
    background-color: var(--active-color);
    color: var(--secondary-color);
}

.icon {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.channel_item {
    display: flex;
    gap: var(--gap-8);
    align-items: center;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: var(--text-white);
}

.left_side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
}

.channel_item:hover {
    background-color: var(--sidebar-hover);
}

.channel_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*  */

.active {
    background-color: var(--sidebar-hover);
    color: #ffffff;
}