.modalContent {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-70%);
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  z-index: 1001;
  border: 1px solid var(--border-color);
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
}

.option:hover {
  background: var(--link-color);
  color: #fff;
}

.icon {
  display: flex;
}