.reactions {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  flex-wrap: wrap;
}

.add_react,
.react {
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 2px 8px;
  cursor: pointer;
  font-size: 15px;
}

.react {  background-color: #e4f8ff;
  color: var(--link-color);
  border: 1px solid var(--link-color);
  width: 55px;
  height: 27px;
  overflow: hidden;
}

.react_emoji,
.react_count {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react_emoji {
  flex: 1;
}
.react_emoji > img {
  max-width: 100%;
  max-height: 100%;
}

.react_count {
  width: 15px;
  height: 100%;
  display: flex;
  align-items: center;
}

.add_react {
  position: relative;
  background-color: #ebebeb;
  font-size: 20px;
  border: 1px solid transparent;
}

.add_react:hover {
  border-color: var(--border-color);
  background-color: #fff;
}